<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMLzDQmj03V5U5IsCTfq1CeUtzyDWAZSE</string>
	<key>GCM_SENDER_ID</key>
	<string>1037659375903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fyp.ai-accento</string>
	<key>PROJECT_ID</key>
	<string>ai-accento</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-accento.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037659375903:ios:acac04c692e7ca04d4082a</string>
	<key>DATABASE_URL</key>
	<string>https://ai-accento-default-rtdb.firebaseio.com</string>
</dict>
</plist>